<app-user-navbar></app-user-navbar>
<!-- <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;height:550px;right:0;margin-top:0.5px;padding-left:90px;padding-top:10px;background-color:lightgrey;">
    <img [src]="url" class="rounded-circle" style="padding-top:50px" width="150">
    <br><br>
    <button type="button"style="margin-left:25px;margin-top:10px;background-color:orange;">Edit Profile</button>				
</div>
<div class="container " style="background-color:lightgrey;width:60%;position:absolute;margin-left:100px;margin-top:15px;" >
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
              <h5 style="padding-left:20px;">Name<span style="padding-left:105px">:{{ Name }}</span></h5>
            </div>
        </div>
    <br>
        <div class="row">
                <div class="col-md-3">
                   <h5 style="padding-left:20px;">Email<span style="padding-left:110px">:{{ Email }}</span></h5>
                </div>
        </div>
    <br>	
        <div class="row">
            <div class="col-md-3">
                <h5 style="padding-left:20px;">Password<span style="padding-left:80px">:{{ Password }}</span></h5>
            </div>
        </div>
    <br>	
        <div class="row">
            <div class="col-md-3">
               <h5 style="padding-left:20px;">Age<span style="padding-left:122px">:{{ Age }}</span></h5>
            </div>
        </div>
    <br>	
        <div class="row">
            <div class="col-md-3">
                <h5 style="padding-left:20px;">MobileNumber<span style="padding-left:32px">:{{ MobileNumber }}</span></h5>
            </div>
        </div>
    </div>
</div>  -->

<div id="userProfileBody ">
    <div class="row body ">
        <div class="col-7 details row">
            <div class="col-6 detailsItems">
                <p>Name</p>
                <p>Email</p>
                <p>Password</p>
                <p>Age</p>
                <p>Mobile Number</p>

            </div>
            <div class="col-6 detailsItems">
                <p>: {{user.username}}</p>
                <p>: {{user.email}}</p>
                <p>: {{"******"}}</p>
                <p>: {{user.age}}</p>
                <p>: {{user.mobileNumber}}</p>
            </div>

        </div>
        <div class="col-5 sidebar row">
            <div class="imageContainer col-12">
            <img [src]="image" alt="this is profile image">
            </div>
            <button class="btn btn-success editButton col-12" (click)="goToEdit()">Edit Profile</button>

        </div>
    </div>
</div>
