<app-admin-navbar></app-admin-navbar>
<form #loginform="ngForm" id="addBikeBox">
    <div>
      <b></b><button id="back" (click)="onBack()">back</button>
   </div>
   <div>
   <label class="form-group"><p>Bike Model</p>
      <input type="text" class="input" name="bikeModel" #bikeModel="ngModel" [(ngModel)]="bike.bikeNo" id="bikeModel" [ngModelOptions]="{standalone:true}" /> 
   </label>
   <label class="form-group"><p>Bike Rent Price</p>
       <input type="text" class="input" name="bikePrice" #bikePrice="ngModel" [(ngModel)]="bike.price" id="bikePrice" [ngModelOptions]="{standalone:true}">   
   </label>
   <label class="form-group"><p>Bike Type</p>
       <input type="text" class="input" name="bikeType" #bikeType="ngModel" [(ngModel)]="bike.type" id="bikeType" [ngModelOptions]="{standalone:true}">  
   </label>
   <label class="form-group"><p>Bike status</p>
    <input type="text" class="input" name="bikeType" #bikeType="ngModel" [(ngModel)]="bike.status" id="bikeStatus" [ngModelOptions]="{standalone:true}">  
</label>
   <label>
       <button type="submit" id="submitButton"  (click)="onSubmit(user.bikeModel,user.bikePrice,user.bikeType)">Edit Bike</button>
   </label>
   </div>
</form>