<div id="superAdminNavbar">
    <nav class="navbar ">
      <p class="navbar-brand logo font-weight-bolder "  tabindex="1">Neo Bikes</p>
      <a id="superAdminDashBoardLink" routerLink="/superadmin/adminList" class="nav-elements" tabindex="2"><span class="material-icons">
        speed
        </span>Dashboard</a>
     
      <a id="superAdminBookingLink" routerLink="/superadmin/adminBookings" class="nav-elements" tabindex="3"><span class="material-icons">
        book
        </span>All Bookings</a>
      <a id="superAdminLogoutButton" (click)="logout()" class="nav-elements" tabindex="4"><span class="logout material-icons">
          logout</span> Logout</a>
    </nav>
  </div>
  